.demoSection {
  margin-bottom: 2rem;
}

.sectionTitle {
  margin-bottom: 1rem;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.buttonGroup {
  display: flex;
  gap: 1rem;
}

.generatedKeys {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}

.encryptedMessage {
  word-wrap: break-word;
}
.result {
  word-wrap: break-word;
}
